{%extends "layout.html"%}
{%block content%}
<div id="home_content">
  <h2>{%block title%}GeoFinder - Home{%endblock%}</h2>
  <div class="input_forms">
    <hr class="hr_ruler"/>
    <h3>Single Address Query</h3>
    <form id="single_query" action="{{url_for('single_result')}}" method="POST" enctype="multipart/form-data">
      <p>
        <label>Address/Location: </label><input class="textboxes" name="physical_address" type="text" placeholder="Enter Physical Address (Required)" max=100 required />
      </p>
      <p>
        <label>First Name: </label> <input class="textboxes" name="first_name" type="text" placeholder="First Name (Optional)" max=50 />
      </p>
      <p>
        <label>Last Name: </label> <input class="textboxes" name="last_name" type="text" placeholder="Last Name (Required)" max=50 required />
      </p>
      <p>
        <label>Email Address: </label> <input class="textboxes" name="email" type="text" placeholder="example@example.com (Required)" max=70 required />
      </p>
      <input class="buttons" type="submit" value="Submit"/>
      <input class="buttons" type="reset" value="Clear Form"/>
    </form>
  </div>
  <div class="input_forms">
    <hr class="hr_ruler"/>
    <h3>Multiple Address Query - File Upload</h3>
    <p>
      Please upload your file in .csv file format only with a Reference field, then
      four (4) comma seperated address columns called "Street Address", "Area", "Post Code" and "Country".
      Max 500 records per file as this is not a commerical site.
      <fieldset>
        <legend>Example of a valid address line in a file:</legend>
          MacMahon, 33 Gilford Crest, Exampletown, Dublin 11, Ireland
      </fieldset>
    </p>
    <p>Please note this service as been designed for a specified .csv semi structured data format only</p>
    <form id="upload_form" action="{{url_for('result_table')}}" method="POST" enctype="multipart/form-data">
      <div>
        <input id=upload type="file" accept=".csv" name="file"/>
        <input class="buttons" type="submit" value="Submit"/>
      </div>
    </form>
    <div class="csv_display">
      {{text|safe}}
      {%include btn ignore missing%}
    </div>
  </div>
</div>
{%endblock%}
